
*.asv
*.mat
/pain LTI ID figs
*.png
.DS_Store
2024-05-17-H02.fig
Artifact_2024-07-06.fig
ch59_sysID_artifact_0b06a71.fig
ch59_sysID_artifact_0cef22d.fig
ch59_sysID_artifact_c2dded6.fig
ch59_sysID_PhaseDetect_241fd0d.fig
ch59_sysID_PhaseDetect_28ffec3.fig
ch59_sysID_artifact_c2dded6_simplified.fig
ch59_sysID_artifact_c2dded6_simplified_wide.fig
ch59_sysID_artifact_c2dded6_simplified_zoomed.fig
day2shortterm001.nev
/Saved Data 2025-05-22 11.44.08
data.csv
events.csv
baselinedata.csv
baselineinfo.csv
info.csv
*.pdf
neural_network_pytorch.pth
neural_network_pytorch_1d9ba25583b47903d37303cbbf82668b3d8c4f68.pth
neural_network_pytorch_4bc3061d64b7c0e22c9b8faa8268c0c155b40730.pth
